body {
  position: relative;
  margin-top: 130px;
  
}

form {
  font-size: 17px;
  font-weight: bolder;

}
h1 {
    font-size: 35px;
    margin: 0px;
    text-align: center;
  }

.form-media {
    display: inline-flexbox; 
    width: 390px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    
}
.form-box {
  content: "";
  display: table;
  clear: both;
  margin: 0px;
  width: 100%;
    
}
.col{
  width: 250px;
  float: left;
  padding: 10px;
  margin-left: 0px;
}
.btn-row {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 10px;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 35px;
    margin: 0px;
    text-align: center;
  }
  form {
    font-size: x-large;
  }
  input {
    width: 100%;
    padding: 5px;
  }
  textarea {
    width: 100%;
  }
  .col {
    width: 100%;
  }
  #id_estado {
    width: 100%;
    padding: 5px;
  }

  .form-media {
    font-size: smaller;
  }

} 